<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.istic.idm.xtext.videogen.design.Activator"
               id="org.istic.idm.xtext.videogen.design"
	       name="videogen">
    </component>
  </extension>
</plugin>
