/org.gemoc.executionframework.extensions.sirius/
/org.irisa.diverse.playlist/
/org.irisa.diverse.videogen/
/org.irisa.diverse.videogen.design/
/org.irisa.diverse.videogen.edit/
/org.irisa.diverse.videogen.editor/
/org.irisa.diverse.videogen.k3dsa/
/org.irisa.diverse.videogen.tests/
/org.irisa.diverse.videogen.transformation/
/org.irisa.diverse.videogen.xdsml/
/org.irisa.diverse.videogen.xdsml.debug.design/
