<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VideoGenL -->
      <package
            uri="http://videogenl/videoGen/"
            class="org.irisa.diverse.videogen.videogenl.videoGen.VideoGenPackage"
            genModel="model/VideoGenL.genmodel"/>
   </extension>

</plugin>
