<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.istic.org/idm/videogen/VideoGen" 
       class = "org.istic.idm.videogen.videoGen.VideoGenPackage"
       genModel = "model/VideoGen.genmodel" /> 
	
  </extension>



</plugin>
