<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.ecore.extender.PermissionProvider">
      <permissionprovider
            priority="highest"
            providerClass="org.irisa.diverse.livemodeling.extensions.sirius.accessor.authority.LivePermissionProvider">
      </permissionprovider>
   </extension>
   <extension
         point="org.eclipse.sirius.ecore.extender.ExtenderProvider">
      <extenderprovider
            priority="highest"
            providerClass="org.irisa.diverse.livemodeling.extensions.sirius.accessor.extender.LiveEcoreExtenderProvider">
      </extenderprovider>
   </extension>
</plugin>
