<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.irisa.diverse.videogen.VideoGenL" xdsmlFilePath="/org.irisa.diverse.videogen.xdsml/bin/org/irisa/diverse/videoGen.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.irisa.diverse.videogen.VideoGenLMT" uri="http://videogenlmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="Optional:org.irisa.diverse.videogen.videoGen.aspects.OptionalAspect;Introduction:org.irisa.diverse.videogen.videoGen.aspects.IntroductionAspect;Video:org.irisa.diverse.videogen.videoGen.aspects.VideoAspect;Sequence:org.irisa.diverse.videogen.videoGen.aspects.SequenceAspect;Alternatives:org.irisa.diverse.videogen.videoGen.aspects.AlternativesAspect;VideoGen:org.irisa.diverse.videogen.videoGen.aspects.VideoGenAspect;Mandatory:org.irisa.diverse.videogen.videoGen.aspects.MandatoryAspect;Conclusion:org.irisa.diverse.videogen.videoGen.aspects.ConclusionAspect" entryPoints="org.irisa.diverse.videogen.videoGen.aspects.VideoGenAspect.initialize()" exactType="org.irisa.diverse.videogen.VideoGenLMT" id="org.irisa.diverse.videogen.VideoGenL" uri="http://videogenlmt/">
      <adapter class="org.irisa.diverse.videogen.videogenl.adapters.videogenlmt.VideoGenLAdapter" modeltypeId="org.irisa.diverse.videogen.VideoGenLMT" />
    </language>
  </extension>
</plugin>
