<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.irisa.diverse.VideoGenL" xdsmlFilePath="/org.irisa.diverse.videogen.xdsml/bin/org/irisa/diverse/videogen.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.irisa.diverse.VideoGenLMT" uri="http://videogenlmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="Optional:videoGen.aspects.OptionalAspect;Video:videoGen.aspects.VideoAspect;Sequence:videoGen.aspects.SequenceAspect;Alternatives:videoGen.aspects.AlternativesAspect;VideoGen:videoGen.aspects.VideoGenAspect;Mandatory:videoGen.aspects.MandatoryAspect" entryPoints="videoGen.aspects.VideoGenAspect.initialize(videoGen.VideoGen)" exactType="org.irisa.diverse.VideoGenLMT" id="org.irisa.diverse.VideoGenL" uri="http://www.irisa.org/diverse/videogen">
      <adapter class="org.irisa.diverse.videogenl.adapters.videogenlmt.VideoGenLAdapter" modeltypeId="org.irisa.diverse.VideoGenLMT" />
    </language>
  </extension>
</plugin>
